<!Doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body>
        <div class = "page">
            <div class = "header">
                <h1>Maintenance Information Form</h1>
            </div>
            
            <div class = "main">
                <form>
                    <h2>Maintenance Information</h2>
                    <div><label>Make:</label><input type = "text" name = "make"></div>
                    <div><label>Model:</label><input type = "text" name = "model"></div>
                    <div><label>Year:</label><input type = "text" name = "year"></div>
                    <div><label>Color:</label><input type = "text" name = "color"></div>
                    <div><label>Vin Number:</label><input type = "text" name = "vinnum"></div>
                    <div><label>Tag Number:</label><input type = "text" name = "tagnum"></div>
                    
                    <div><input type = "submit" name = "submit" value = "Submit"></div>
                </form>
            </div>
            
            <div class = "footer">
            </div>
        </div>
    </body>
</html>