<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Vehicle Journal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <meta name="description" content="Keep track of your vehicle with Vehicle Journal.">
        <meta name="keywords" content="Vehicle Journal">
        <meta name="author" content="Chris Lansing, Sam Cavedo">

        <!-- CSS -->
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" >
        {% block styles %}{% endblock styles %}
    </head>

    <body>
        <div class = "header">
            {% block header %}
            {% endblock header %}
        </div>

        <div class = "main">
            <p><a href="signIn.html">Sign In</a></p>
            <p><a href="createAccount.html">Create Account</a></p>
            <a href="main.html">Main</a>
            {% block main %}
            {% endblock main %}
        </div>

        <div class = "footer">
            {% block footer %}
            {% endblock footer %}
        </div>

        <!-- JS -->
        <script src="{{ STATIC_URL }}js/jquery/jquery-1.10.2.min.js"></script>
        {% block scripts %}{% endblock scripts %}
    </body>
</html>
