<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Vehicle Journal{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <meta name="description" content="Keep track of your vehicle with Vehicle Journal.">
        <meta name="keywords" content="Vehicle Journal">
        <meta name="author" content="Chris Lansing, Sam Cavedo">

        <!-- CSS -->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" >
        {% block styles %}{% endblock styles %}
    </head>

    <body>

    <img class="header" src="{{ STATIC_URL }}images/header.png" />

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-left nav-pills">
                <li><a href="/">Vehicles</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Add <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/add/vehicle/">Vehicle</a></li>
                        <li><a href="/add/history/">History</a></li>
                        <li><a href="/add/mechanic/">Mechanic</a></li>
                        <li><a href="/add/finance/">Finance</a></li>
                        <li><a href="/add/part/">Part</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/account/logout">Logout</a></li>
            </ul>
            <p class="navbar-text navbar-right">Welcome, {{user.username}}!</p>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/account/register/">Register</a></li>
                <li><a href="/account/login/?next=/">Login</a></li>
            </ul>
            {% endif %}
          </div>
        </div>

        <div class = "main container">
            {% block main %}
            {% endblock main %}
        </div>

        <div class = "footer container">
            {% include 'footer.html' %}
        </div>

        <!-- JS -->
        <script src="{{ STATIC_URL }}js/jquery/jquery-1.10.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/vjournal.js"></script>
        {% block scripts %}{% endblock scripts %}
    </body>
</html>
