<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Vehicle Journal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <meta name="description" content="Keep track of your vehicle with Vehicle Journal.">
        <meta name="keywords" content="Vehicle Journal">
        <meta name="author" content="Chris Lansing">
    </head>

    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
