        <div class = "page">
            <div class = "header">
                <h1>Account Creation Page</h1>
            </div>

            <div class = "main">
                <form>
                        <h2>Account Information</h2>
                        <div><label>First Name:</label>
                            <input type = "text" name = "ufname" placeholder = "First Name" required></div>
                        <div><label>Last Name:</label>
                            <input type = "text" name = "ulname" placeholder = "Last Name"required></div>
                        <div><label>Email:</label>
                            <input type = "email" name = "uemail" placeholder = "email@domain.com"required></div>
                        <div><label>Password:</label>
                            <input type = "password" name = "upassword" required></div>
                        <div><label>Repeat Password:</label>
                            <input type = "password" name = "upassword2" required></div>
                        <div><label>Security Question:</label>
                            <select name = "usercurityQuestion">
                                <option>First Vehicle Color</option>
                                <option>First Pet's Name</option>
                                <option>City you met your spouse in</option>
                                <option>Last name of your third grade teacher</option>
                                <option>Childhood best friend's name</option>
                                <option>Dream vacation city</option>
                                <option>Parents' annaversary month</option>
                                <option>Childhood nickname</option>
                                <option>City of your first job</option>
                                <option>Father's middle name</option>
                            </select></div>
                        <div><label>Security Answer:</label>
                            <input type = "text" name = "usecurityanswer" placeholder = "Security Answer" required></div>

                        <div><input type = "submit" name = "submit" value = "Submit"></div>
                    </form>
            </div>

            <div class = "footer">
            </div>
        </div>
