
        <div class = "page">
            <div class = "header">
            </div>
            
            <div class = "main">
                <h1>History Form</h1>
                <div id = "historyInfo"></div>
                <h3>History Item</h3>
                <p>Information</p>
                <form>
                    <div>
                        <input type="button" name="addMaint" value="Add Maintenance" onclick="location.href='addMaintenance.html';"/>
                    </div>
                    
                    <div>
                        <input type="button" name="printHistory" value="Print History" onclick="location.href='printHistory.html';"/>
                    </div>
                </form>
            </div>
            
            <div class = "footer">
            </div>
        </div>