{% extends 'base.html' %}

{% block header %}
            <h1>Vehicles</h1>
{% endblock header %}

{% block main %}
        <div class = "main">
            <div id="accordion">
                <h3>Car 1</h3>
                <div>
                    <p><strong>Make:</strong> Ford</p>
                    <p><strong>Model:</strong> Explorer</p>
                    <p><strong>Year:</strong> 1994</p>
                    <p><strong>Color:</strong> Tan</p>
                    <p><strong>VIN #:</strong> </p>
                    <p><strong>Tag #:</strong> </p>
                    <div><input type = "button" name = "editVehicleButton" value = "Edit Vehicle" onclick=""></div>
                </div>

                <h3>Car 2</h3>
                <div>
                    <p><strong>Make:</strong> </p>
                    <p><strong>Model:</strong> </p>
                    <p><strong>Year:</strong> </p>
                    <p><strong>Color:</strong> </p>
                    <p><strong>VIN #:</strong> </p>
                    <p><strong>Tag #:</strong> </p>
                    <div><input type = "button" name = "editVehicleButton" value = "Edit Vehicle" onclick=""></div>
                </div>

                <h3>Car 3</h3>
                <div>
                    <p><strong>Make:</strong> </p>
                    <p><strong>Model:</strong> </p>
                    <p><strong>Year:</strong> </p>
                    <p><strong>Color:</strong> </p>
                    <p><strong>VIN #:</strong> </p>
                    <p><strong>Tag #:</strong> </p>
                    <div><input type = "button" name = "editVehicleButton" value = "Edit Vehicle" onclick=""></div>
                </div>

                <h3>Car 4</h3>
                <div>
                    <p><strong>Make:</strong> </p>
                    <p><strong>Model:</strong> </p>
                    <p><strong>Year:</strong> </p>
                    <p><strong>Color:</strong> </p>
                    <p><strong>VIN #:</strong> </p>
                    <p><strong>Tag #:</strong> </p>
                    <div><input type = "button" name = "editVehicleButton" value = "Edit Vehicle" onclick=""></div>
                </div>
            </div>
            <br/><br/><br/>
            <div><input type = "button" name = "addVehicleButton" value = "Add Vehicle" onclick="location.href='addVehicle.html';"></div>
        </div>
{% enblock main %}

{% block footer %}
{% endblock footer %}
